:root {
  --white: #ffffff;
  --accent: rgb(255, 0, 0);
  --black: #000000;
  --quick: all 0.33s ease-out;
  --width: 100vw;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  //font-family: 'Oswald', sans-serif;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  //border: 1px dashed red;
  color: var(--black);
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap");
// font-family: 'Audiowide', cursive;
// font-family: 'Montserrat', sans-serif;

// mian css   -------------------------------------------------------

body {
  height: 100vh;
  width: 100vw;
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav {
  position: absolute;
  top: 30px;
  right: 50px;
  .open {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
    width: 40px;
    overflow: hidden;
    align-items: flex-end;
    display: none;
    span {
      background: red;
      height: 5px;
      width: 40px;
      display: block;
      border-radius: 20px;
      transition: var(--quick);
      &:nth-child(1) {
        width: 20px;
      }
      &:nth-child(3) {
        width: 30px;
      }
    }

    &:hover{
      span{
        &:nth-child(1){
          width: 40px;
        }
        &:nth-child(2){
          width: 30px;
        }
        &:nth-child(3){
          width: 20px;
        }
      }
    }
  }

  .navlist{
    display: flex;
    flex-direction: column;
    background: var(--white);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.174);
    padding: 20px;
    border-radius: 10px;

    a{
      font-weight: 100;
      padding: 10px 0px;

      &::after
    }

  }
}

@media only screen and (max-width: 900px) {
}
