@font-face {
  font-family: 'ubuntu';
  src: url("fonts/Ubuntu-L.ttf") format("ttf"), url("fonts/Ubuntu-M.ttf") format("ttf"), url("fonts/Ubuntu-R.ttf") format("ttf"), url("fonts/UbuntuMono-B.ttf") format("ttf");
}

:root {
  --white: #ffffff;
  --black: #000000;
  --quick: 0.5s all ease-out;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

.grid-cen {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.abs-cen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.div {
  height: 400px;
  width: 400px;
  border: 2px solid red;
}

.slow-tran {
  -webkit-transition: 0.33s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.33s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn {
  color: var(--white);
  font-weight: 100;
  padding: 10px 50px;
  border-radius: 02px !important;
  -webkit-transition: 0.33s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.33s all cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.btn p {
  z-index: 5;
}

.btn .bg {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, white 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 110%;
  height: 60px;
  z-index: -100;
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn:hover .bg {
  background-position: left bottom;
}

.btn:hover p {
  color: var(--black);
  font-weight: bolder;
  z-index: 5;
}

.glass {
  background: radial-gradient(rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.123));
  border: 0.5px solid rgba(255, 255, 255, 0.158);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
}

.page {
  width: 100vw;
  height: 100vh;
  -ms-scroll-snap-type: start;
      scroll-snap-type: start;
}

p {
  font-weight: 100;
  font-size: 16px;
  padding: 5px 0px;
  color: #8b8b8b;
  line-height: 180%;
  letter-spacing: 2px;
}

html {
  scroll-behavior: auto;
}

body {
  height: 300vh;
  width: 100vw;
  background: var(--black);
  color: var(--white);
  font-family: ubuntu;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  scroll-snap-align: y mandatory;
}

.page1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 1200px;
}

.page1 .container .left {
  width: 50%;
  height: 90vh;
}

.page1 .container .left .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page1 .container .left p {
  font-weight: 100;
  font-size: 16px;
  padding: 5px 0px;
  opacity: .75;
}

.page1 .container .left h1 {
  font-size: 4rem;
}

.page1 .container .left h2 {
  font-size: 2.3rem;
}

.page1 .container .left button {
  margin-top: 20px;
}

.page1 .container .right {
  width: 50%;
  height: 90vh;
  overflow: hidden;
}

.page1 .container .right img {
  height: 60vh;
}

@media only screen and (max-width: 950px) {
  .page1 {
    -ms-scroll-snap-type: start;
        scroll-snap-type: start;
    margin-top: 0vh;
  }
  .page1 .container {
    width: 95vw;
    height: 95vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .page1 .container .left {
    width: 100%;
    height: 35%;
  }
  .page1 .container .left .box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page1 .container .left h1 {
    font-size: 2.5rem;
  }
  .page1 .container .left h2 {
    font-size: 1.5rem;
  }
  .page1 .container .right {
    width: 100%;
    height: 55%;
  }
  .page1 .container .right img {
    height: calc((95vh * 55) / 100);
    margin-top: -100px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1250px) {
  .page1 .container {
    width: 95vw;
  }
}

.page2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 1200px;
}

.page2 .container .left {
  width: 50%;
  height: 90vh;
}

.page2 .container .left .box1 h2 {
  font-size: 2.5rem;
}

.page2 .container .left .box2 {
  margin-left: 50px;
}

.page2 .container .left .box2 h2 {
  margin: 0px 0px 20px -40px;
}

.page2 .container .left .box2 ul li {
  margin-bottom: 20px;
}

.page2 .container .left .box2 ul li p span {
  color: white !important;
}

.page2 .container .left .box3 {
  width: 100%;
  height: auto;
}

.page2 .container .left .box3 img {
  height: 30%;
  position: relative;
  -webkit-animation: point 3s linear infinite;
          animation: point 3s linear infinite;
}

@-webkit-keyframes point {
  0% {
    top: 0px;
  }
  35% {
    top: 25px;
  }
  45% {
    top: 0px;
  }
  85% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}

@keyframes point {
  0% {
    top: 0px;
  }
  35% {
    top: 25px;
  }
  45% {
    top: 0px;
  }
  85% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}

.page2 .container .right {
  width: 50%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page2 .container .right .box4 {
  z-index: 999;
  width: 400px;
  height: 500px;
  padding: 20px;
}

.page2 .container .right .box4 .title {
  letter-spacing: 1px;
  font-size: 1.8;
  margin-bottom: 30px;
}

.page2 .container .right .box4 .skill {
  padding: 10px;
}

.page2 .container .right .box4 .skill .skill-name {
  font-weight: 100;
  padding: 5px;
}

.page2 .container .right .box4 .skill .skill-meter {
  background: rgba(255, 255, 255, 0.192);
  height: 10px;
  width: 80%;
  border-radius: 50px;
  overflow: hidden;
}

.page2 .container .right .box4 .skill .skill-meter .progress {
  height: inherit;
  background: white;
  border-radius: 0px 50px 50px 0px;
}

.page2 .container .right .box4 .skill .skill-meter .p1 {
  width: 90%;
}

.page2 .container .right .box4 .skill .skill-meter .p2 {
  width: 80%;
}

.page2 .container .right .box4 .skill .skill-meter .p3 {
  width: 20%;
}

.page2 .container .right .box4 .skill .skill-meter .p4 {
  width: 20%;
}

.page2 .container .right .box4 .skill .skill-meter .p5 {
  width: 30%;
}

.page2 .container .right .box4 .skill .skill-meter .p6 {
  width: 30%;
}

.page2 .container .right .box4 .mtg {
  margin-top: 10px;
  width: 100%;
}

.page2 .container .right .box4 .mtg p {
  color: white;
}

.page2 .container .right .box5 {
  z-index: 999;
  width: 400px;
  height: 100px;
  padding: 20px;
}

.page2 .container .right .box5 .title {
  letter-spacing: 1px;
  font-size: 1.8;
  margin-bottom: 10px;
}

.page2 .container .right .box5 .hob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page2 .container .right .box5 .hob p {
  color: white;
}

@media only screen and (max-width: 950px) {
  body {
    height: 400vh;
    text-align: center;
  }
  .page2 {
    margin-top: 20vh;
    height: 200vh;
  }
  .page2 .container {
    width: 95vw;
    height: 195vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page2 .container .left {
    width: 100%;
    height: 95vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page2 .container .left .box1 h2 {
    margin-bottom: 50px;
  }
  .page2 .container .left .box2 {
    margin-left: 0px;
  }
  .page2 .container .left .box2 h2 {
    margin: 0px 0px 20px 0px;
  }
  .page2 .container .left .box2 ul {
    list-style-type: none;
  }
  .page2 .container .left .box3 {
    display: none;
  }
  .page2 .container .right {
    width: 100%;
    height: 95vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page2 .container .right .box4 {
    margin-top: 50px;
  }
  .page2 .container .right .box4 .skill .skill-name {
    text-align: left;
  }
  .page2 .container .right .box4 .skill .skill-meter {
    width: 100%;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1250px) {
  .page2 .container {
    width: 95vw;
  }
}
/*# sourceMappingURL=style.css.map */