:root {
  --black: #1a1a1a;
  --white: #fffefb;
  --primary: rgb(1, 248, 104);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300&display=swap");

*,
*::after,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  color: var(--black);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .special {
    position: absolute;
    height: 5px;
    width: 5px;
    background: red;
    bottom: 0px;
    right: 0px;
  }

  .card {
    animation: slide_in 1s ease-out;

    @keyframes slide_in {
      from {
        transform: translateY(-600px)  ;
        perspective: 100;
        opacity: 0;
      }
      to {
        transform: translateY(0px) ;
        perspective: 100;
        opacity: 1;
      }
    }
    position: relative;
    color: var(--white);
    height: 500px;
    width: 20vw;
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;

   

    &:hover {
      transform: scale(1.25);
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.452);
    }

    .side_text {
      font-size: 3.5em;
      opacity: 0.1;
      position: absolute;
      top: 110px;
      left: -110px;
      transform: rotate(90deg);
      &.artist {
        top: 40px;
        left: -57px;
      }
    }
    img {
      margin-top: 20%;
      opacity: 0.2;
      height: 20%;
    }

    p {
    }
    button {
      position: relative;
      border: 1px solid linear-gradient(var(--primary), transparent);
      background: var(--white);
      font-size: 16px;
      font-weight: 600;
      color: var(--black);
      padding: 10px 30px;
      width: 60%;
      height: 50px;
      margin-bottom: 10%;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      overflow: hidden;

      p.drop {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        padding: 40px;
        width: 1000px;
        background: var(--primary);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: var(--black);

        p.drop {
          top: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
    height: auto;
    overflow-y: scroll;

    .card {
      width: 80vw;
      margin: 30% 0% 0% 0%;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
