@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300&display=swap");
:root {
  --black: #1a1a1a;
  --white: #fffefb;
  --primary: rgb(248, 1, 1);
}

*,
*::after,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--black);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .special {
  position: absolute;
  height: 5px;
  width: 5px;
  background: red;
  bottom: 0px;
  right: 0px;
}

body .card {
  -webkit-animation: slide_in 1s ease-out;
          animation: slide_in 1s ease-out;
  position: relative;
  color: var(--white);
  height: 500px;
  width: 20vw;
  background: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes slide_in {
  from {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
    -webkit-perspective: 100;
            perspective: 100;
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-perspective: 100;
            perspective: 100;
    opacity: 1;
  }
}

@keyframes slide_in {
  from {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
    -webkit-perspective: 100;
            perspective: 100;
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-perspective: 100;
            perspective: 100;
    opacity: 1;
  }
}

body .card:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.452);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.452);
}

body .card .side_text {
  font-size: 3.5em;
  opacity: 0.1;
  position: absolute;
  top: 110px;
  left: -110px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .card .side_text.artist {
  top: 40px;
  left: -57px;
}

body .card img {
  margin-top: 20%;
  opacity: 0.2;
  height: 20%;
}

body .card button {
  position: relative;
  border: 1px solid linear-gradient(var(--primary), transparent);
  background: var(--white);
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  padding: 10px 30px;
  width: 60%;
  height: 50px;
  margin-bottom: 10%;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

body .card button p.drop {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  padding: 40px;
  width: 1000px;
  background: var(--primary);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .card button:hover {
  color: var(--black);
}

body .card button:hover p.drop {
  top: 15px;
}

@media screen and (max-width: 600px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow-y: scroll;
  }
  body .card {
    width: 80vw;
    margin: 30% 0% 0% 0%;
  }
  body .card:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/*# sourceMappingURL=style.css.map */